<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="img-responsive" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="clearfix">
                    <div class="price pull-left">$20</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="img-responsive" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="clearfix">
                    <div class="price pull-left">$20</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="img-responsive" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="clearfix">
                    <div class="price pull-left">$20</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="img-responsive" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="clearfix">
                    <div class="price pull-left">$20</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="img-responsive" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="clearfix">
                    <div class="price pull-left">$20</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" class="img-responsive" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="clearfix">
                    <div class="price pull-left">$20</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
            </div>
        </div>
    </div>
</div>
